body{
    min-height: 100vh;;
    margin: 0px;
    background-color: rgb(235, 235, 235);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

#background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to right bottom, #051937, #35234c, #642956, #903153, #b14545);
    z-index: -1;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}
#block-result{
    height: 2px;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}
button { cursor: pointer; }
nav{
    display: block;
    min-width: 240px;
    max-width: 240px;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
 
}
.nav-content{
   position: fixed;
   background: rgb(255, 255, 255);
   height: 100%;
   width: 240px;
}

main{
    width: 100%;
    min-height: 100vh;
    padding: 0px 0px 100px 0px;
}

footer{
    width: 100%;
    background-color: rgb(41, 41, 41);
}
header{
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
a{
    margin: 10px 10px;
    outline: none;
    text-decoration: none;
}

input[type="text"]{
    font-size:20px;
    padding: 0px 0px 0px 20px;
}
.red{
    color: rgb(255, 90, 90);
}
.grey-dark{
    color: rgb(70, 70, 70);
}
.end{
    justify-content: flex-end;
    width: 100%;
}

.block-search{
    margin:60px 100px;
    display: flex;
    justify-content: center;
}
.block-search input[type=text] {
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
.block-search input[type=text]:focus {
    width: 600px;
}
.card{
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0 2px 10px #8d7f7f;
    border-radius: 16px;
}
.block-slogan{ 
    padding: 5px 30px;
    margin:60px 80px 40px 80px;
    height: 170px;
}

.block-slogan h1{
    margin: 30px 0px 20px 0px;
}

section{
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.last-page{
    height: fit-content;
    width: auto;
    margin: 20px 15px 60px 15px;
}
.daily-picture-block{
    height: fit-content;
    width: auto;
    margin: 120px 10px;
    padding: 20px 15px;
}
.daily-picture{
    width: 100%;
    border-radius: 5px;
}
.input-search{
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}
.btn-search{
    border-radius: 0px 10px 10px 0px; 
    border: none;
}
.nav-logo{
    width: 130px;
    margin-top: 10px
}
.nav-logo a {
    margin: 0px;
}
.center{
    margin: 0 auto;
}
.title-nav{
    width: fit-content;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
}
.black{
    color: black;
}
ul{
    list-style: none;
    margin: 50px 0px 0px 0px;
    padding-inline-start:0px;
}
li{
  padding: 10px 10px ;
  border-bottom: solid 1px rgba(128, 128, 128, 0.342);
}
.daily-picture-title{
    margin: 0px 20px 20px 20px;
}
.daily-picture-description{
    margin: 15px 20px;
    color: rgb(66, 66, 66);
}
.white{
    color: white;
}
.first-paragraph{
    width: 50%;
}
.img-paragraph{
    width: 49%;
}
.img-paragraph img{
    width: 100%;
    border-radius: 5px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.card a{
    color: rgb(86, 124, 160);
}
.column{
    flex-direction: column;
}
.left-column{
    width: 55%;
}
.right-column{
    width: 40%;
}
.margin-column{
    margin: 15px;
}
.fifty{
    width: 750px;
    
}
.icon-medium{
    font-size: 28px;
}

.nav-fixed{
    position: fixed;
    background-color: rgb(62, 72, 87);
    border-radius: 30px;
}
.btn-menu{
    margin: 0px 20px;
    color: white;
    font-size: 36px;
    display: none;
}
#modal-background{
    display: none;
}
.header-title{
    display: none;
}
.header-title img{
    width: 40px;
}
.header-title p{
    margin: 20px 10px 0px 10px;;
}
nav a{
    color: black;
}
.top-footer{
    height: 140px;
    background-color: rgb(61, 61, 61);
}
.bottom-footer{
    height: 50px;
    padding-top: 30px;
}
.grey{
    color: rgb(158, 158, 158);
}
.blue{
    color: rgb(99, 162, 233);
}
fieldset{
    border: none;
}
.block {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 20px 20px;
    padding: 10px;
    color: black;
}
.page-block{
    margin: 20px;
    padding: 20px;
}
.comment-block{
    background-color: white;
    margin: 30px;
    width: 100%;
}
.green{
    color: rgb(57, 195, 57);
}
li:hover{
    background-color: rgb(241, 241, 241);
    transition-duration: 0.2s;
}

.subtitle-nav{
    margin: 10px 0px 10px 18px ;
}
.article-footer{
    padding: 10px 25px;
    border-top:solid 1px rgba(128, 128, 128, 0.342) ;
    display: flex;
    justify-content: space-between;
}

.article-header{
    padding: 0px 25px;
}

.result{
    background-color: white;
    width: 600px;
    
    margin: 5px auto;
    padding: 15px 20px;
}


.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable), .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
    border-radius: var(--ck-border-radius);
    border: solid 1px rgb(190, 190, 190);
    margin-top: 10px;
}

.result-line-tag{
    padding: 10px 0px;
    width: 100%;
}
.result-line-tag:hover{
    background-color: rgba(233, 233, 233, 0.596);
}
.search-tag-block{
    width: fit-content;
}
#search-tag-result{
    overflow-y: scroll;
    max-height: 200px;
}
.result-line-tag{
    cursor: pointer;
}
#input-tag{
    
}
#tag-list{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    border: 2px solid rgb(97, 144, 255);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.tag button{
    background:none;
    border: none;
    color: rgb(124, 181, 255);
}
.selectedTag{
    background-color: rgb(145, 178, 255);
}
.selectedTag:hover{
    background-color: rgb(108, 152, 255);
}
#btn-add-tag{
    border: none;
    border-radius: 50%;
    background-color: rgb(155, 218, 96);
    height: 30px;
    width: 30px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    transition-duration: 0.3s;
}
#btn-add-tag:hover{
    background-color: rgb(137, 189, 88);
}
.article-intro img{
    border-radius: 5px;
}
.article-intro{
    padding: 0px 25px;
}
.article-title{
    padding: 0px 25px;
}
.center-flex{
    align-content: center;
    justify-content: center;
}

.font-medium h1, .font-medium h2,.font-medium h3,.font-medium p{
    font-size: 16px!important;
    margin: 0px;
}
.font-medium a{
    margin: 0px;
}

.article-footer a{
   margin: 0px;
}



@media only screen and (max-width: 968px){
    nav{
        display: none;
        position: fixed;
        z-index: 2;
        width: 230px;
    }
    header{
        justify-content: center;
        align-items: center;
    }
    .btn-menu{
        position: absolute;
        left: 0px;
        display: block;
    }
    .block-search{
        margin:60px 0px;
        justify-content: center;
    }
    .fifty{
        width: auto;
        margin: 0px 10px;
    }
   
    main{
        width: auto;
        padding: 0px 0px 100px 0px;
    }
    .block-slogan{ 
        padding: 5px 15px;

        margin:40px 15px;
        height: auto;
       
    }
    header div{
        display: none;
    }
    .first-paragraph{
        width: 100%;
    }
    .img-paragraph{
        width: 100%;
    }
    .block-paragraph-img{
        flex-direction: column-reverse;
    }
    #modal-background{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        overflow: none;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    .header-title{
        display: block;
    }
    .left-column{
        width: 100%;
    }
    .right-column{
        width: 100%;
    }
    .block-search input[type=text]:focus {
   
        width: auto;
      }
      .margin-column{
        margin: 5px;
    }
    .result{
        
        width: 300px;
        margin: 5px auto;
        padding: 15px 20px;
    }
    .block-search{
        margin:60px 20px;
    }
    .last-page{
        margin: 30px 15px;
    }
    .daily-picture-block{
        margin: 10px;
    }
}