body{
    min-height: 100vh;;
    margin: 0px;
    background-color: rgb(235, 235, 235);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

#background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 650px;
    background: url("../img/Moon-Vector.jpg");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
button { cursor: pointer; }
nav{
    display: block;
    width: 280px;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0px 1px rgb(204, 206, 207);
}
.nav-content{
   
}
main{
    width: 100%;
    min-height: 100vh;
    padding: 0px 0px 100px 0px;
}
footer{
    width: 100%;
    background-color: rgb(41, 41, 41);
}
header{
    display: flex;
    justify-content: flex-end;
    height: 60px;
}
a{
    margin: 10px 10px;
    color: white;
    outline: none;
    text-decoration: none;
}

input[type="text"]
{
    font-size:20px;
    padding: 0px 0px 0px 20px;
}
.red{
    color: red;
}
.grey-dark{
    color: rgb(70, 70, 70);
}
.end{
    justify-content: flex-end;
    width: 100%;
}

.block-search{
    
    margin:60px 100px;
    display: flex;
    justify-content: flex-end;
}
.card{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}
.block-slogan{ 
    padding: 5px 30px;
    color: white;
    margin:80px 80px;
    height: 200px;
    background-color: rgba(240, 248, 255, 0);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));;
    
}
.block-slogan h1{
    margin: 60px 0px 20px 0px;
}

section{
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
}
.last-page{
    height: fit-content;
    width: auto;
    margin: 10px 0px;
    padding: 20px;
}
.last-page img{
    max-width: 100%;
    height: auto;
}
.daily-picture-block{
    height: fit-content;
    width: auto;
    margin: 60px 0px;
    padding: 20px 10px;
}
.daily-picture{
    width: 100%;
    border-radius: 5px;
}
.input-search{
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 3px 1px rgb(113, 170, 224);
}
.btn-search{
    border-radius: 0px 10px 10px 0px; 
    border: none;
}
.nav-logo{
    width: 130px;
    margin-top: 10px
}
.nav-logo a {
    margin: 0px;
}
.center{
    margin: 0 auto;
}
.title-nav{
    width: fit-content;
    font-weight: bold;
    margin-top: 20px;
 
    font-size: 25px;
}
.black{
    color: black;
}
ul{
    list-style: none;
    margin: 50px 0px 0px 0px;
    padding-inline-start:10px;
}
li{
    margin-top: 20px;
}
.daily-picture-title{
    margin: 0px 20px 20px 20px;
}
.daily-picture-description{
    margin: 15px 20px;
    color: rgb(66, 66, 66);
}
.white{
    color: white;
}
.first-paragraph{
    width: 50%;
}
.img-paragraph{
    width: 49%;
    
}
.img-paragraph img{
    width: 100%;
    
    border-radius: 5px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.card a{
    color: rgb(86, 124, 160);
}
.column{
    flex-direction: column;
}
.fifty{
    width: 680px;
    
}
.icon-medium{
    font-size: 28px;
}

.nav-fixed{
    position: fixed;
    background-color: rgb(62, 72, 87);
    border-radius: 30px;
    
}
.btn-menu{
    margin: 0px 20px;
    color: white;
    font-size: 36px;
    display: none;
}
#modal-background{
    display: none;
}
.header-title{
    display: none;
}
.header-title img{
    width: 40px;
}
.header-title p{
    margin: 20px 10px 0px 10px;;
}
nav a{
    color: black;
}
.top-footer{
    height: 140px;
    background-color: rgb(61, 61, 61);
}
.bottom-footer{
    height: 50px;
    padding-top: 30px;
}
.grey{
    color: rgb(158, 158, 158);
}
.blue{
    color: rgb(99, 162, 233);
}
fieldset{
    border: none;
}
.block {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 20px 20px;
    padding: 10px;
}
.page-block{
    margin: 20px;
    padding: 20px;
}
.comment-block{
    background-color: white;
    margin: 30px;
    width: 100%;
}
.green{
    color: rgb(57, 195, 57);
}











@media only screen and (max-width: 968px){
    nav{
        display: none;
        position: fixed;
        z-index: 2;
        width: 230px;
    }
    header{
        justify-content: center;
        align-items: center;
    }
    .btn-menu{
        position: absolute;
        left: 0px;
        display: block;
    }
    .block-search{
        margin:60px 0px;
        justify-content: center;
    }
    .fifty{
        width: auto;
        margin: 0px 10px;
    }
    main{
        width: auto;
        padding: 0px 0px 100px 0px;
    }
    .block-slogan{ 
        padding: 5px 15px;
        color: white;
        margin:40px 15px;
        height: auto;
       
    }
    header div{
        display: none;
    }
    .first-paragraph{
        width: 100%;
    }
    .img-paragraph{
        width: 100%;
    }
    .block-paragraph-img{
        flex-direction: column-reverse;
    }
    #modal-background{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        overflow: none;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    .header-title{
        display: block;
    }
}