{% extends 'base.html.twig' %}

    


{% block body %}

<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
        <section>

           

            <div class="card block-form-signup">
                    <p class="title-form">Create account</p>

                    <hr>
                <form action="" method="POST">
                    <div class="content-form">
                        <fieldset>
                            <label for="email">Email <span class="red">*</span></label> <br>
                            <input class="input-form card" placeholder="Enter your email address" type="text" required name="email" id="email">   
                        </fieldset>
                        <fieldset>
                            <label for="email">Username <span class="red">*</span></label> <br>
                            <input class="input-form card" placeholder="Enter your username" type="text" required name="username" id="username">
                        </fieldset>
                        <fieldset>
                            <label for="password">Password <span class="red">*</span></label> <br>
                            <input class="input-form card" placeholder="Enter a password" type="password" required name="password" id="password">
                        </fieldset>
                        <fieldset>
                            <label for="repeat">Confirm password <span class="red">*</span></label> <br>
                            <input class="input-form card" placeholder="Enter password again" type="password" required name="repeat" id="repeat">
                        </fieldset>
                        <fieldset>
                            <input class="check-form" placeholder="Enter password again" type="checkbox" required name="check" id="check">
                            <label for="check">I accept the <a href="/">general conditions of use</a> <span class="red">*</span></label>   
                        </fieldset>
                    </div>
                    <div class="flex end">
                            <button class="btn-signup" type="submit">Signup !</button>
                    </div>
                    
                </form>
            </div>
        
        </section>
    
        

{% endblock %}
